@charset "UTF-8";
@import url(logo.css);
body {
  font-family: 'PT Sans', sans-serif;
}

body header {
  max-width: 100%;
  background: #CED1CA;
  max-height: 70px;
  /*Логотип студии*/
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 65px;
  top: 0;
  font-size: 1em;
}

@media screen and (max-width: 930px) {
  body header nav {
    left: 200px;
  }
}

body header nav .navMenu {
  height: 70px;
  border-radius: 10px/30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 14px;
}

@media screen and (max-width: 880px) {
  body header nav .navMenu {
    padding: 25px 7px;
  }
}

body header nav .navMenu:hover {
  background: #028154;
  color: #ffffff;
  -webkit-transition: 2s;
  transition: 2s;
}

body header nav a {
  color: #79122f;
  text-decoration: none;
  white-space: nowrap;
  /*слова без переноса*/
}

body img {
  width: 100%;
  display: block;
  margin: 0;
  z-index: 10;
}

body section .projectTitle {
  height: 40px;
  background: #79122f;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 5px;
}

body section .projectBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 5px;
}

body section .projectBlocks a {
  text-decoration: none;
  width: 245px;
  margin: 15px 10px;
}

body section .projectBlocks a p {
  color: #79122f;
  text-align: center;
  font-size: 1.2em;
  -webkit-transform: scaleX(0.88);
          transform: scaleX(0.88);
}

body section .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .button button {
  height: 40px;
  width: 200px;
  background: #028154;
  color: #ffffff;
  margin: 30px;
  border: none;
  border-radius: 4px;
  -webkit-transform: scaleX(0.88);
          transform: scaleX(0.88);
}

body .sheduleWeek {
  border: 1px solid #79122f;
  height: 200px;
  width: 500px;
  margin: 10px auto;
}

body .pricesOfAbons {
  display: table;
  border: 2px solid #79122f;
  margin: 10px auto;
  border-radius: 8px;
}

body .pricesOfAbons .row {
  display: table-row;
  text-align: center;
}

body .pricesOfAbons .row .cell {
  display: table-cell;
  padding: 10px;
  color: #79122f;
}

body .pricesOfAbons .row .cell-1 {
  background: #CED1CA;
}

body .pricesOfAbons .row .cell-2 {
  background: #79122f;
  color: #ffffff;
}

body .aboutOpium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .aboutOpium .fotoMarija {
  width: 100%;
}

body .aboutOpium .aboutStudija {
  text-align: justify;
  color: #79122f;
  padding: 15px 25px;
}

body footer {
  height: 90px;
  background: #79122f;
}
/*# sourceMappingURL=index.css.map */