.logo {
    position: relative;
    left: 20px;
    top: -65px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: rgb(121, 18, 47);                
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
            
    .logoname {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        padding: 70px 10px;
        text-align: center;
        transform: scaleX(0.88);
    
        span {
            font-size: 2em;
        }
    }
} 